@CHARSET "UTF-8";

/*
	Stylesheet (only basic formatting)
*/

body {
	background-color:#1C6EA4;
	color: white;
	
	font-family: Verdana, Geneva, sans-serif;
	font-size: 12px;
	letter-spacing: 2px;
	word-spacing: 2px;
	font-weight: normal;
	text-decoration: none;
	font-style: normal;
	font-variant: normal;
	text-transform: none;
	
	margin:0;
    padding:0;
} 

#body {
	padding:10px;
   	padding-bottom:60px;   /* Height of the footer */
}

/*
#container {
    min-height: 100%;
} */

#header {
	margin: 0px;
	padding: 0px;
	width: 100%;
	display: block; 
	color: #1C6EA4;
	background-color: white;
}

#header h1 {
	text-align: center;
}

#headerImg {
	width: 100%; 
}

#footer {
   bottom:0;
   width:100%;
   height:60px;   /* Height of the footer */
   background: white;
   color: #1C6EA4;
   padding: 5px;
}

/* Aligns the text in the footer vertically centered */
#footerText {
  font-size: 0.8em;
}


.divisionheader {
	border: 0px;
	font-size: 18px;
}

.position1 {
	color: gold;
	font-size: 1.2em;
}

.position2 {
	color: silver;
	font-size: 1.2em;

}

.position3 {
	color: #cd7f32;
	font-size: 1.2em;
}

.position {
	text-align: center;
}
.result {
	text-align: right;
}

.score {
	white-space: nowrap;
	text-align: right;
}

.inprogress {
	color: white;
}

.buttons {
	white-space: nowrap;
}

.navigation {
	font-size: 1.4em;
	color: white;
	line-height: 2em;
}